/* body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
} */

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}


table tr {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: 1em !important;
  text-align: left;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.page {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -17px -54px;
}

.select-dropdown {
  position: relative;
  background-color: #e6e6e6;
  width: auto;
  float: left;
  max-width: 100%;
  border-radius: 2px;
}
.select-dropdown select {
  font-family: "helvetica neue", helvetica;
  font-size: 1rem;
  font-weight: 200;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-dropdown select:active, .select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: " ";
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 8px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #aaa;
}


.main-footer {
  background: rgb(6, 128, 195, .25);
  min-height: 290px;
}

.main-footer p {
  color: #333;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  padding-top: 1rem;
}

.main-footer span select {
  background: transparent;
  font-size: 18px;
  border: 0;
  outline: none;
  -webkit-appearance: none;
}

.emoji-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: -4px;
  margin-top: -2px;
  vertical-align: middle;
  border-top: 7px dashed;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

.main-footer .main-footer-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1200px;
  min-height: 240px;
}

.main-footer .main-footer-section > div > h6 {
  position: absolute;
  margin-top: -33px;
  min-width: 250px;
}

.main-footer .main-footer-section > div > p {
  text-align: center;
  margin-top: .5rem;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0rem;
}

.main-footer .main-footer-section div {
  position: relative;
  display: inline-flex;
  flex-direction: column;
}

.main-footer .main-footer-section .thoughtText {
  position: absolute;
  top: 14px;
  font-weight: 600;
  font-size: 10px;
  line-height: 120%;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .progress {
    height: 10px !important;
    margin-right: 50px;
}

  .text--dark {
    color: #000000;
    margin-top: -5%;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  .main-footer{
    min-height: 0;
    margin-bottom: -10px;
  }

  .main-footer-section{
    display: none !important;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 70px;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}